/* HTML, Body */
html, body {
    background-color: #00455A;
    max-height: 1080px;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* Отцентрованные Flex-Элементы */
.flexCenter {
    justify-content: center;
    align-items: center;
    display: flex;
}
/* Главный Контэйнер */
.mainContainer {
    background-image: url('../img/SnakeBackground.png');
    background-size: cover;
    flex-direction: column;
    width: 100%;
}
/* Контэйнер Главного Меню Игры */
.mainGameMenuContainer {
    background-color: rgba(245, 245, 245, .55);
    flex-direction: column;
    height: 56%;
    width: 46%;
}
/* =================================== Главное Меню Игры =================================== */
.mainGameMenu {
    background-color: #DDDDDD;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 85%;
    width: 100%;
}
/* Главное Меню Игры */
.SnakeGameTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    color: #004575;
    height: 35%;
    width: 50%;
}
/* Дизайн Кнопок Игры */
.button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6%;
    cursor: pointer;
    color: #004575;
    display: flex;
    height: 18%;
}
/* Нажимной Элемент Кнопки Меню Игры */
.buttonPressElement {
    background-color: #004575;
    border: 5px solid #006595;
    text-align: center;
    transition: .2s;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    height: 80%;
    width: 100%;
}
/* Изображения в Нажимном Элемене Кнопки Меню Игры */
.buttonPressElement img {
    height: 50%;
    width: 50%;
}
/* Проваливающийся Элемент Кнопки Меню Игры */
.buttonPlateElement {
    border-bottom: 5px solid #004565;
    border-right: 5px solid #004565;
    border-left: 5px solid #004565;
    background-color: #003555;
    transition: .2s;
    display: flex;
    height: 20%;
    width: 100%;
}
/* Эффект для Кнопки Меню Игры при наведении */
.button:hover {
    justify-content: flex-end;
}
.button:hover .buttonPlateElement {
    transition: .2s;
    height: 10%;
}
.button:hover .buttonPressElement {
    height: 70%;
}
.button:active .buttonPlateElement{
    height: 0;
    border-bottom: 0 #DDDDDD;
    background-color: #DDDDDD;
    width: calc(100% + 10px);
    transition: .2s;
}
/* Кнопка Меню Игры */
.optionsButton {
    width: 50%;
}

/* Нажимной Элемент Неактивной Кнопки Меню Игры */
.buttonOffPressElement {
    border: 5px solid #305565;
    background-color: #204555;
}
/* Проваливающийся Элемент Неактивной Кнопки Меню Игры */
.buttonOffPlateElement {
    border-bottom: 5px solid #305565;
    border-right: 5px solid #305565;
    border-left: 5px solid #305565;
    background-color: #204555;
}

/* =================================== Меню Выбора Имени =================================== */
.selectNickNameMenu {
    background-color: #DDDDDD;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 85%;
    width: 100%;
}
/* Заголовок Меню */
.menuTitle {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: #004575;
    height: 35%;
    width: 80%;
}
/* Контэйнер Поля Ввода Меню Игры и Предупреждения */
.inputContainer {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin-bottom: 6%;
    height: 18%;
    width: 48%;
}
/* Поле Ввода Меню Игры */
.optionsInput {
    border: 5px solid #AAAAAA;
    background-color: #CCCCCC;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    margin-left: -4%;
    font-size: 30px;
    color: #004575;
    display: flex;
    outline: none;
    height: 80%;
    width: 103%;
}
/* Поле Предупреждения Ввода */
.inputWarning {
    border: 5px solid #DDDDDD;
    padding-left: 2%;
    margin-left: -4%;
    font-size: 16px;
    color: #993525;
    width: 103.5%;
    display: none;
    height: 20%;
}
/* Поле Предупреждения Ввода */
.inputWarningAttention {
    border: 5px solid #DD7565;
    background-color: #FF9585;
    display: flex;
}
.selectDifficultyMenu {
    background-color: #DDDDDD;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 85%;
    width: 100%;
}
/* Меню Выбора Сложности */
.selectDifficultyContainer {
    justify-content: space-between;
    background-color: #30D030;
    margin-bottom: 5%;
    display: flex;
    height: 205px;
    width: 205px;
}
.height20 {
    height: 25%;
}
/* Кнопка Выбора Сложности */
.bluePress {
    background-color: #004575;
    border: 5px solid #006595;
}
/* Кнопка Выбора Сложности */
.bluePlate {
    border-bottom: 5px solid #004565;
    border-right: 5px solid #004565;
    border-left: 5px solid #004565;
    background-color: #003555;
}
/* Кнопка Выбора Сложности */
.greenPress {
    border: 5px solid #20C020;
    background-color: #009000;
}
/* Кнопка Выбора Сложности */
.greenPlate {
    border-bottom: 5px solid #10B010;
    border-right: 5px solid #10B010;
    border-left: 5px solid #10B010;
    background-color: #008000;
}
/* Кнопка Выбора Сложности */
.yellowPress {
    border: 5px solid #FFDD20;
    background-color: #F5C500;
}
/* Кнопка Выбора Сложности */
.yellowPlate {
    border-bottom: 5px solid #EECC10;
    border-right: 5px solid #EECC10;
    border-left: 5px solid #EECC10;
    background-color: #E5B500;
}
/* Кнопка Выбора Сложности */
.redPress {
    border: 5px solid #E04060;
    background-color: #D01030;
}
/* Кнопка Выбора Сложности */
.redPlate {
    border-bottom: 5px solid #D03050;
    border-right: 5px solid #D03050;
    border-left: 5px solid #D03050;
    background-color: #C00020;
}
/* Нажимной Элемент Кнопки Меню Игры */
.smallButtonPressElement {
    transition: .2s;
    color: #FFFFFF;
    display: flex;
    height: 80%;
    width: 100%;
}
/* Меню Выбора Сложности */
.difficultyEasyButton {
    margin-top: 50%;
}
/* Меню Выбора Сложности */
.difficultyHardButton {
    margin-left: 50%;
}
/* Меню Выбора Сложности */
.smallButton {
    flex-direction: column;
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 98px;
}
.yellowDifficultyButtonAnimation {
    animation: YellowButton .5s;
}
@keyframes YellowButton {
    from {
        margin-top: 50%;
    }
    to {
        margin-top: 0;
    }
}
.bottom {
    margin-top: 50%;
}
.right {
    margin-left: 50%;
}
.redDifficultyButtonAnimation {
    animation: RedButton .5s;
}
@keyframes RedButton {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 50%;
    }
}
/* Изображения в Нажимном Элемене Кнопки Меню Игры */
.smallButtonPressElement img {
    height: 50%;
    width: 40%;
}
/* Проваливающийся Элемент Кнопки Меню Игры */
.smallButtonPlateElement {
    transition: .2s;
    display: flex;
    height: 20%;
    width: 100%;
}
/* Изображения в Нажимном Элемене Кнопки Меню Игры */
.difficultyButtonPressElement img {
    height: 50%;
    width: 50%;
}
/* Проваливающийся Элемент Кнопки Меню Игры */
.difficultyButtonPlateElement {
    border-bottom: 5px solid #30B030;
    border-right: 5px solid #30B030;
    border-left: 5px solid #30B030;
    background-color: #008000;
    transition: .2s;
    display: flex;
    height: 20%;
    width: 100%;
}
/* Эффект для Кнопки Меню Игры при наведении */
.smallButton:hover {
    justify-content: flex-end;
}
.smallButton:hover .smallButtonPlateElement {
    transition: .2s;
    height: 10%;
}
.smallButton:hover .smallButtonPressElement {
    height: 70%;
}
.smallButton:active .smallButtonPlateElement {
    border-bottom: 0 #DDDDDD;
    background-color: #DDDDDD;
    width: calc(100% + 10px);
    transition: .2s;
    height: 0;
}
/* Меню Выбора Сложности */
.difficultyBackButton {
    justify-self: flex-end;
    background-color: blue;
    flex-direction: column;
    align-self: flex-end;
    display: flex;
    height: 50%;
    width: 48%;
}
/* Кнопка Меню Игры */
.nextButtonsContainer {
    justify-content: space-between;
    display: flex;
    height: 18%;
    width: 50%;
}
/* Кнопка Меню Игры */
.nextButton {
    display: flex;
    height: 100%;
    width: 85%;
}
/* Кнопка Меню Игры */
.backButton {
    display: flex;
    height: 100%;
    width: 14%;
}
header {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 5%;
}
.headerContent {
    font-family: Verdana, sans-serif;
    border-right: 5px solid #00858A;
    border-left: 5px solid #00858A;
    justify-content: space-evenly;
    background-color: #00657A;
    display: flex;
    color: #FFFFFF;
    width: 1180px;
}
.playerDisplay {
    border-right: 5px solid #00858A;
    border-left: 5px solid #00858A;
    justify-content: space-evenly;
    display: flex;
    height: 100%;
    width: 38%;
}
#playerIcon1, #playerIcon2 {
    background-image: url("../img/EasyDifficulty.png");
    background-size: 100% 100%;
    height: 100%;
    width: 11%;
}
.playerNickName {
    border-right: 5px solid #00858A;
    border-left: 5px solid #00858A;
    text-align: center;
    height: 100%;
    width: 52%;
}
.playerScore {
    text-align: center;
    height: 100%;
    width: 35%;
}

.timer {
    height: 100%;
    width: 20%;
}
/* Игровое Поле */
.GameField {
    background-color: #00455A;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
#canvas {
    border: 5px solid #00858A;
    height: 900px;
    width: 1180px;
}
.scoreWindowContainer {
    background-color: rgba(245, 245, 245, .55);
    align-items: center;
    position: absolute;
    display: flex;
    height: 50%;
    width: 40%;
    top: 25%;
}
.scoreWindow {
    background-color: #DDDDDD;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 82%;
    width: 100%;
}
/* Заголовок Окна Счёта */
.scoreWindowTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #004575;
    height: 35%;
    width: 80%;
}
/* Строка Окна Счёта */
.scoreWindowRow {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #004575;
    height: 10%;
    width: 80%;
}
/* Строка Окна Счёта */
.scoreWindowButtonsContainer {
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    color: #004575;
    display: flex;
    height: 30%;
    width: 80%;
}
/* Кнопки Окна Счёта */
.retryButton, .recordsTableButton, .returnMainMenuButton {
    margin-top: 6%;
    height: 70%;
    width: 31%;
}
/* 24-й Шрифт */
.font24 {
    font-size: 18px;
}
/* Спрятанные Элементы */
.hidden {
    display: none;
}